<!DOCTYPE html>
<html>
<head>
	<title>HTML DAY 1</title>
	<style type="text/css"> 
        h1{ 
            color:#0FFFF0; 
            background-color: hsl(200, 100%, 60%); 
            color: hsl(200, 20%, 90%); 
        }

        a:link { 
		    color: red; 
		    background-color: transparent; 
		} 
		a:visited { 
		    color: green; 
		    background-color: transparent; 
		} 
		a:hover { 
		    color: blue; 
		    background-color: transparent; 
		} 
		a:active { 
		    color: yellow; 
		    background-color: transparent; 
		} 
    </style> 
</head>
<body>
	<hr>
	<p align="center">Welcome Geeks</p> 
    <p align="left">A Computer Science  
                  portal for geeks.</p> 
    <p align="right">It contains well 
    written, well thought articles.</p>
    <hr>

    <pre><mark style="color: blue;">
    This paragraph has multiple 
    lines. But it is displayed  
    as it is unlike the paragraph  
    tag.</mark> 
    </pre> 
    <hr>

    <p><b>Hello GeeksforGeeks</b></p> 
    <!--Text in Strong-->    
    <p><strong>Hello GeeksforGeeks</strong></p>

    <p><i>Hello GeeksforGeeks</i></p> 
    <!--Text in Emphasize-->    
    <p><em>Hello GeeksforGeeks</em></p>

    <p>Hello <sup>GeeksforGeeks</sup></p> 
    <!--Text in Subcript-->    
    <p>Hello <sub>GeeksforGeeks</sub></p>

    <p><small>Hello GeeksforGeeks</small></p>

    <p><del>Hello GeeksforGeeks</del></p>

    <p><ins>Hello GeeksforGeeks</ins></p> 
    <hr>

    <p><q>The quick brown fox jumps over the lazy dog</q></p>

    <p>The quick brown fox jumps over the lazy dog<br></p> 
    <!--Inside blockquotes-->
    <p><blockquote>The quick brown fox jumps  
	over the lazy dog</blockquote></p> 

	<address> 
    <p>Address:<br> 
    710-B, Advant Navis Business Park,<br> 
    Sector-142, Noida Uttar Pradesh – 201305</p> 
    </address> 

    <p>Welcome to <abbr title="GeeksforGeeks">GfG</abbr></p>
    <hr>
      
    <pre> 
    This     paragraph has multiple 
    spaces. But     it is displayed  
    as it is    unlike the paragraph  
         tag. 
    </pre> 
    <hr>

    <h1>GeeksforGeeks</h1>
    <hr>

    <p><a href="html_contribute.asp/">GeeksforGeeks Contribute 
	</a> It is a link to the contribute page on GeeksforGeeks' website.</p> 
	  
	<p><a href="https://www.geeksforgeeks.org">GeeksforGeeks 
	</a> It is a link to the GeeksforGeeks website on the World Wide Web.</p> 

	<p>Visited Link</p> 
	<a href="https://www.geeksforgeeks.org">GeeksforGeeks</a>  
	  
	<p>Link</p> 
	<a href="https://facebook.com">facebook</a> 
	  
	<p>hovering effect</p> 
	<a href="https://www.geeksforgeeks.org">GeeksforGeeks</a> 

	<h3>Various options available in the Target Attribute</h3> 
  
	<p>If you set the target attribute to "_blank",  
	the link will open in a new browser window or tab.</p> 
	<a href="https://www.geeksforgeeks.org" target="_blank">GeeksforGeeks</a>  
	  
	<p>If you set the target attribute to "_self",  
	the link will open in the same window or tab.</p> 
	<a href="https://www.geeksforgeeks.org" target="_self">GeeksforGeeks</a>  
	  
	<p>If you set the target attribute to "_top",  
	the link will open in the full body of the window.</p> 
	<a href="https://www.geeksforgeeks.org" target="_blank">GeeksforGeeks</a>  
	  
	<p>If you set the target attribute to "_parent",  
	the link will open in the parent frame.</p> 
	<a href="https://www.geeksforgeeks.org" target="_blank">GeeksforGeeks</a> 

	<p><a href="#T11">Jump to Topic 11</a></p> 
	<p><a href="#T17">Jump to Topic 17</a></p> 
	<p><a href="#T20">Jump to Topic 20</a></p> 
	<h2>Topic 1</h2> 
	<p>paragraph 1 
	.....</p> 
	<h2>Topic 2</h2> 
	<p>paragraph 1 
	.....</p> 
	<h2>Topic 3</h2> 
	<p>paragraph 1 
	.....</p> 
	<h2>Topic 4</h2> 
	<p>paragraph 1 
	.....</p> 
	<h2>Topic 5</h2> 
	<p>paragraph 1 
	.....</p> 
	<h2>Topic 6</h2> 
	<p>paragraph 1 
	.....</p> 
	<h2>Topic 7</h2> 
	<p>paragraph 1 
	.....</p> 
	<h2>Topic 8</h2> 
	<p>paragraph 1 
	.....</p> 
	<h2>Topic 9</h2> 
	<p>paragraph 1 
	.....</p> 
	<h2>Topic 10</h2> 
	<p>paragraph 1 
	.....</p> 
	<h2 id="T11">Topic 11</h2> 
	<p>paragraph 1 
	.....</p> 
	<h2>Topic 12</h2> 
	<p>paragraph 1 
	.....</p> 
	<h2>Topic 13</h2> 
	<p>paragraph 1 
	.....</p> 
	<h2>Topic 14</h2> 
	<p>paragraph 1 
	.....</p> 
	<h2>Topic 15</h2> 
	<p>paragraph 1 
	.....</p> 
	<h2>Topic 16</h2> 
	<p>paragraph 1 
	.....</p> 
	<h2 id="T17">Topic 17</h2> 
	<p>paragraph 1 
	.....</p> 
	<h2>Topic 18</h2> 
	<p>paragraph 1 
	.....</p> 
	<h2>Topic 19</h2> 
	<p>paragraph 1 
	.....</p> 
	<h2 id="T20">Topic 20</h2> 
	<p>paragraph 1 
	.....</p>  
  
	<hr>
  
</body>
</html>