<!DOCTYPE html>
<html>
<head>
	<title>SIGN UP</title>
	<link rel="stylesheet" type="text/css" href="../styles/css/main.css">
	<link rel="stylesheet" type="text/css" href="../styles/css/signup.css">
	<script type="text/javascript" src="../scripts/login_signup.js"></script>
</head>
<body>
	<div class="img">
		<div class="container">
			<center><h1 style="color: white;">Sign Up Form</h1></center><hr>
			<form action="#" class="content" name="signup_form" method="post">
				<p><input type="text" placeholder="Name" name="uname" required></p>
			    <p><input type="text" placeholder="Email" name="email" onmouseleave="ValidateEmail(document.signup_form.email)" required></p>
			    <p><input type="password" placeholder="Password" name="newpsw" onmouseleave="ValidatePassword(document.signup_form.newpsw)" required></p>
				<p><input type="password" placeholder="Confirm Password" name="psw" onmouseleave="ValidateConfirmPassword(document.signup_form.newpsw,document.signup_form.psw)" required></p>
			    <button type="submit" class="btn" onclick="CheckSignup()">Register</button>
			</form>
		</div>
	</div>	
</body>
</html>